<% include_javascript "fckeditor/fckeditor" %>
<label>Publish date
  <%= f.date_select :publish_date, {:order => [:day, :month, :year]} %>
</label>
<label>Archive date
  <%= f.date_select :archive_date, {:order => [:day, :month, :year], :default => 1.month.from_now }  %>
</label>
