<%= error_messages_for :story %>
<% form_for :story, :url => {:action => :update}, :html => {:method => :put, :id => "settings"} do |f| -%>
  <h2>Update Story</h2>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= submit_tag 'Save' %>
  </fieldset>
<% end -%>

