<h1><%= link_to I18n.t("tog_headlines.plugin_title"), admin_headlines_stories_path%> / <%= I18n.t("tog_headlines.admin.published_stories") %></h1>

<p>
<%= link_to I18n.t("tog_headlines.admin.create_story"), new_admin_headlines_story_path, :class => "create button add" %>
</p>

<%= render :partial => 'stories_table' %>